/* This file is for your main application css. */

.segment {
    width: 40px;
    float: left;
}

.above_ground {
    height: 200px;
    width: 100%;
    text-align: center;
}

.ground_level {
    height: 3px;
    width: 100%;
    background-color: green;
}

.segment_active {
    background-color: lightblue;
}

.segment_active:hover {
    width: 40px;
    float: left;
    border-style: solid;
    border-color: yellow;
    border-width: 0px 1px 0px 1px;
}

.segment_inactive {
    background-color: darkslategray;
}

.bloc {
    height: 40px;
    width: 100%;
}

.bloc_locked {
    border: 1px solid blue;
}

.above_ground_active:hover {
    width: 100%;
    border: 1px solid yellow;
}

.bloc_active:hover {
    height: 40px;
    width: 100%;
    border: 1px solid yellow;
}

.bloc_inactive {
    height: 40px;
    width: 100%;
    background-color: rgb(31, 8, 8);
    opacity: 0.9;
}

.bloc_type_0 {
    background-color: brown;
    opacity: 0.9;
}

.bloc_type_1 {
    background-color: darkslategray;
    opacity: 0.9;
}

.below_ground {
    height: 3px;
    width: 100%;
    background-color: black;
}

.garden {
    clear: left;
    border: 1px;
}