<%= render "garden_bloc.html" %>
<%= render "garden_bloc.html" %>
<%= render "garden_bloc.html" %>
<%= render "garden_bloc.html" %>
<%= render "garden_bloc.html" %>
<%= render "garden_bloc.html" %>
<%= render "garden_bloc.html" %>
<%= render "garden_bloc.html" %>
<%= render "garden_bloc.html" %>
<%= render "garden_bloc.html" %>
<%= render "garden_bloc.html" %>
