<!--
<%= if @active do %>
    <div class="bloc bloc_active bloc_type_<%= @bloc.type %>" data-segment="<%= @segment_id %>" data-bloc="<%= @bloc.position %>">

    </div>
<% else %>
    <div class="bloc bloc_inactive"></div>
<% end %> -->

    <div class="<%= bloc_classes(@active,@bloc) %>" data-segment="<%= @segment_id %>" data-bloc="<%= @bloc.position %>">
        
    </div>