<div class="row marketing">
  <div class="col-lg-8">
    <h4>Garden</h4>

    <div class="garden">
      <%= for segment <- @garden.segments do %>
        <%= render "segment.html", segment: segment%>
      <% end %>
    </div>
  </div>

  <div class="col-lg-4">
    <h4>Help</h4>
    
  </div>
</div>
