<%= if @bloc != nil do %>
    Bloc : <%= @bloc.position %><br/>
    Type : <%= if @bloc.type == UpsilonGarden.GardenData.Bloc.dirt() do
        "Dirt"
    else
        "Stone"
    end %>
    <br/>
        Components<br/>
        <%= for component <- @bloc.components do %>
                <%= component.quantity %> x <%= component.composition %> 
            <br/>
        <% end %>
        
<% else %>
No bloc data
<% end %>